<%= form_for @node, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="page-header">
    <h1>
      <%= f.text_field :name, :class => ".title" %>
    </h1>
  </div>
  <div class="field">
    <div>
      <%= f.select :category_id, options_from_collection_for_select(@categories, :id, :name) %>
    </div>
  </div>
  <br/>
  <div class="field">
    <div>
      <%= f.text_area :content, :class => 'text_area' %>
    </div>
  </div>
  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                nodes_path, :class => 'btn' %>
  </div>
<% end %>
