<div class="page-header">
  <h1><%=t '.title', :default => @node.name %></h1>
</div>

<div>
  <%= @node.category.name %>
</div>

<br/>

<div>
  <%= markdown @node.content %>
</div>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              nodes_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_node_path(@node), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              node_path(@node),
              :method => 'delete',
              :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
              :class => 'btn btn-danger' %>
</div>
